# server
/server/node_modules
/server/dist
/server/.env*.local
/server/yarn.lock

# client
/client/node_modules
/client/.next/
/client/.env*.local
/client/yarn.lock

# backend
/backend/node_modules
/backend/dist
/backend/.env*.local
/backend/yarn.lock

# frontend
/frontend/node_modules
/frontend/.next/
/frontend/.env*.local
/frontend/yarn.lock
.DS_Store