@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

/* Design Style */
.gradient {
  background: linear-gradient(to right, #009900, #007700);
}
h1 {
  font-size: 96px;
  font-weight: 700;
}
h2 {
  font-size: 64px;
  font-weight: 700;
}
h3 {
  font-size: 48px;
  font-weight: 700;
}
h4 {
  font-size: 36px;
  font-weight: 700;
}
Body {
  font-size: 20px;
}
.body-bold {
  font-size: 20px;
  font-weight: 700;
}
.body-small {
  font-size: 16px;
}
.body-small-bold {
  font-size: 16px;
  font-weight: 700;
}

.shadow {
  box-shadow: 0px 0px 15px 0px #00000040;
}
.shadow-inside {
  box-shadow: 0px 0px 10px 0px #0079004d inset;
}
